body {
  margin: 0;
  background-color: black;
  background-image: url("../images/blue-owl.jpeg");
  background-size: cover;
  color: white;
  font-family: "Aaux ProLight", sans-serif;
  /*animation: 2s infinite alternate glow;*/
}

/*@keyframes glow {
  from {
    filter: brightness(0.5);
  }
  to {
    filter: brightness(2);
  }
}*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 97px;
  padding-top: 20px;
  background-color: black;
  box-shadow: 0 10px 35px 20px black;
  font-family: "ZCOOL XiaoWei", sans-serif;
}

h1 {
  font-family: "ZCOOL XiaoWei", serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  font-size: 24px;
}

nav li {
  display: inline;
  list-style-type: none;
  padding: 20px;
}

nav a {
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

nav a:hover {
  transition-duration: 1s;
  color: white;
}

.current {
  text-decoration: underline;
}

.hero-text {
  margin-top: 124px;
  text-align: center;
  /*background-color: gray;*/
}

h2 {
  font-size: 32px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  opacity: 0.3;
}
